#body {
    background-color: hsl(0, 43%, 89%);
    background-image: url('/img/tan-stained-paper-texture-2.jpg');

}

/*carusoel*/
#base-text-carousel {
    background-color: rgba(241, 154, 154, 0.674);
}

/*footer*/
#footer-style {
    background-color: #690013;
    color: #fff;
    text-align: center;

}